.tooltip {
  background: #ffffff;
  border-radius: 10px;
  opacity: 0;
  padding: 7px;
  position: fixed;
  z-index: 1000;
}

.tooltip {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h-color {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.h-color p {
  font-size: 1rem;
}

.color-btn {
  border-radius: 50%;
  padding: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.color-btn:hover,
.color-btn:focus {
  border: 2px #00695c solid;
}

.h-y {
  background-color: #ffeb3b;
}

.h-g {
  background-color: #c5e1a5;
}

.h-p {
  background-color: #f8bbd0;
}

.h-b {
  background-color: #81d4fa;
}

.btn-gp {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 100%;
  margin-top: 10px;
}

.btn-gp > * {
  flex: 1 100%;
}

.btn-el {
  display: inline-block;
  border: none;
  padding: 8px 5px;
  width: 100%;
  margin: 0;
  text-decoration: none;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  transition: background 90ms ease-in-out, transform 90ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px #00695c solid;
}

.btn-gp:first-child {
  border-top: 2px #00695c solid !important;
}

.btn-el:hover,
.btn-el:focus {
  background: #e0f2f1;
}

.btn-el:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.btn-el:active {
  transform: scale(0.99);
}
