.note-container {
  z-index: 10;
  border: 1px solid grey;
  border-radius: 10px;
  opacity: 0;
  position: fixed;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.note-header {
  height: 20px;
  border-radius: 10px 10px 0 0;
  background-color: papayawhip;
}
.note-footer {
  height: 20px;
  border-radius: 0 0 10px 10px;
  background-color: papayawhip;
}

.close-butt {
  border-radius: 0 10px 0 0;
  height: 20px;
  border: none;
  opacity: 0.5;
  float: right;
}

.save-butt {
  border-radius: 0 0 10px 0;
  height: 20px;
  border: none;
  opacity: 0.5;
  float: right;
}

.del-butt {
  border-radius: 0 0 0 10px;
  height: 20px;
  border: none;
  opacity: 0.5;
  float: left;
}

.note-content {
  color: black;
  height: 200px;
  width: 200px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.2);
}
